
<div class="container spacer">
        <div class="alert alert-dark bg-secondary" role="alert">
         <div class="btn-group btn-group-toggle" data-toggle="buttons">
             <button type ="button" routerLink="/about" class="btn btn-secondary">About</button>
             <button routerLink="/contacts" class="btn btn-secondary">Contacts</button>
             <button routerLink="/new-contact" class="btn btn-secondary">New Contacts</button>
         </div>

        </div>
</div>

<router-outlet>

</router-outlet>
